.content {
  display: grid;
  justify-items: center;
  align-content: center;
  grid-row-gap: var(--space-xl);
  font-size: var(--font-size-md);
}

.title {
  font-size: var(--font-size-lg);
}

.logo {
  height: calc(var(--header-height) - (var(--space-xl) * 2));
}
