.pagination {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-column-gap: var(--space-xl);
  font-size: var(--font-size-sm);
  align-items: center;
}

.actions {
  font-size: var(--font-size-xs);
}
