.button {
  width: 128px;
  height: 32px;
  color: var(--white);
  background-color: var(--primary);
  border: none;
  cursor: pointer;

  &:active {
    background-color: var(--primary-dark);
  }

  &:disabled {
    background-color: var(--gray);
    color: var(--text);
  }
}
