.list {
  display: grid;
  grid-row-gap: var(--space-xl);
  align-content: start;
}

.title {
  font-weight: bold;
  font-size: var(--font-size-md);
}

.subtitle {
  font-size: var(--font-size-md);
}

.cards {
  display: grid;
  grid-row-gap: var(--space-lg);
}
