.container {
  display: grid;
  grid-row-gap: var(--space-md);
}

.label {
  font-size: var(--font-size-sm);
}

.select {
  position: relative;
  border: 1px solid var(--gray);
  font-size: var(--font-size-sm);
  padding: var(--space-md);
  cursor: pointer;
  user-select: none;

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: var(--space-md);
    top: 50%;
    transform: translateY(-50%);
    border-left: var(--space-md) solid transparent;
    border-right: var(--space-md) solid transparent;
    border-top: var(--space-md) solid var(--gray);
  }

  &.open::after {
    transform: translateY(-50%) rotate(180deg);
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  width: calc(100% + 2px);
  left: -1px;
  border: 1px solid var(--gray);
  margin-top: var(--space-md);
  background-color: var(--white);
  z-index: 10;
}

.option {
  cursor: pointer;
  padding: var(--space-md);

  & + .option {
    border-top: 1px solid var(--gray);
  }

  &.selected {
    color: var(--white);
    background-color: var(--primary);
  }
}
