.container {
  width: 800px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-column-gap: var(--space-xl);
  align-items: start;
}

.favourite {
  padding: var(--space-xl);
  border: 1px solid var(--gray);
  display: grid;
  grid-row-gap: var(--space-md);
  justify-items: end;
}

.detail {
  display: grid;
  grid-row-gap: var(--space-xl);
}

.title {
  font-size: var(--font-size-lg);
}

.subtitle {
  font-size: var(--font-size-md);
}

.description {
  font-size: var(--font-size-sm);
  line-height: 2;
}
