.header {
  height: var(--header-height);
  padding: var(--space-xl);
  border-bottom: 1px solid var(--gray);
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.nav {
  display: grid;
  grid-auto-flow: column;
  list-style-type: none;
  list-style-position: inside;
  grid-column-gap: var(--space-lg);
}

.logo {
  height: calc(var(--header-height) - (var(--space-xl) * 2));
  cursor: pointer;
}
