.card {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: var(--space-md);
  grid-column-gap: var(--space-lg);
  border: 1px solid var(--gray);
}

.content {
  display: grid;
  grid-row-gap: var(--space-md);
  align-items: center;
}

.image {
  height: 65px;
  width: 77.5px;
  background-color: var(--gray);
}

.title {
  height: 21px;
  width: 70%;
  background-color: var(--gray);
}

.subtitle {
  height: 14px;
  width: 70%;
  background-color: var(--gray);
}

.action {
  height: 14px;
  width: 30%;
  background-color: var(--gray);
}
