.card {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: var(--space-md);
  grid-column-gap: var(--space-lg);
  border: 1px solid var(--gray);
}

.content {
  display: grid;
  grid-row-gap: var(--space-md);
  align-items: center;
}

.image {
  height: 65px;
  background-color: var(--gray);

  img {
    height: 100%;
    width: auto;
  }
}

.title {
  font-size: var(--font-size-md);
  font-weight: bold;
}

.subtitle,
.action {
  font-size: var(--font-size-xs);
}
