.container {
  padding: var(--space-xl);
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-gap: var(--space-xl);
  align-items: start;
}

.content,
.actions {
  display: grid;
  grid-row-gap: var(--space-xl);
}
